<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduatestudent.mapper.ArticleInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.graduatestudent.entity.ArticleInformation">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_type" property="articleType" />
        <result column="create_time" property="createTime" />
        <result column="latest_update_time" property="latestUpdateTime" />
        <result column="article_content" property="articleContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, article_title, article_type, create_time, latest_update_time, article_content
    </sql>
    <insert id="insertArticleInformation" useGeneratedKeys="true" keyProperty="id">
        insert into article_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="articleContent != null">article_content,</if>
            <if test="articleTitle != null">article_title,</if>
            <if test="articleType != null">article_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="latestUpdateTime != null">latest_update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="articleContent != null">#{articleContent},</if>
            <if test="articleTitle != null">#{articleTitle},</if>
            <if test="articleType != null">#{articleType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="latestUpdateTime != null">#{latestUpdateTime},</if>
        </trim>
    </insert>

</mapper>
