<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduatestudent.mapper.DepartmentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.graduatestudent.entity.DepartmentInfo">
        <id column="id" property="id" />
        <result column="university_id" property="universityId" />
        <result column="department_name" property="departmentName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, university_id, department_name
    </sql>

</mapper>
