<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduatestudent.mapper.MajorInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.graduatestudent.entity.MajorInformation">
        <id column="professional_code" property="professionalCode" />
        <result column="professional_name" property="professionalName" />
        <result column="major_type" property="majorType" />
        <result column="professional_category" property="professionalCategory" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        professional_code, professional_name, major_type, professional_category
    </sql>

</mapper>
